{% block menu %}
<style>
#menu {
	text-align:center;
	width:100%;
}
#menu ul {
	list-style:none;
	background-color:#e53b3b;
}
#menu ul li {
	color:white;
	line-height:20px;
	display:inline-block;
	padding:10px;
}
#menu ul li:first-child {
	border-left:none;
}
#menu a {
	text-decoration:none;
	color:white;
	font-size:15px;
}
</style>
<div id="menu">
<ul>
<li><a href="/"> 넓은 산딸기 </a></li>
<li> | </li>
<li><a href="/blog"> 블로그 </a></li>
<li> | </li>
<li><a href="/schedule"> 스케줄 </a></li>
<li> | </li>
<li><a href="/pmeb"> 용돈기입장 </a></li>
<li> | </li>
{% if login == False %}
<li><a href="/join"> 회원가입 </a></li>
<li> | </li>
<li><a href="/login"> 로그인 </a></li>
{% else %}
<li><a href="/logout"> 로그아웃 </a></li>
{% endif %}
</ul>
</div>
{% endblock %}